<% if (results.length > 0) { %>
<div class="container-fluid">
<div class="card mb-3">

  <div class="card-header">
    <div class="float-left">
      <i class="fas fa-table"></i> SPARC™ Disinfection Treatment Data  | Canary: <%= canary %>
    </div>
    <div class="float-right">
       <a href="<%= cal_view %>"  rel="noopener" class="btn btn-sm btn-warning">
         <% if (isCalibrated) { %> RECALIBRATE CANARY <% } else  { %> CALIBRATE CANARY <% } %>
       </a>
    </div>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dt_locVent" width="100%" cellspacing="0">
        <thead>
          <tr class="text-center">
            <th scope="col">Chirp</th>
            <th scope="col">Lat</th>
            <th scope="col">Long</th>
            <th scope="col">Date</th>
            <th scope="col">Time</th>
            <th scope="col">Capture Time</th>
            <th scope="col">Temp</th>
            <th scope="col">Humid</th>
            <th scope="col">Pres</th>
            <th scope="col">UV</th>
            <th scope="col">Cds</th>
            <th scope="col">CO2</th>
            <th scope="col">O2</th>
            <th scope="col">VOC</th>
            <th scope="col">NH3</th>
            <th scope="col">CO</th>
            <th scope="col">SR1</th>
            <th scope="col">SR2</th>
            <th scope="col">SR3</th>
            <th scope="col">SR Alarm</th>
          </tr>
        </thead>
        <tbody>

        </tbody>
      </table>
    </div>
  </div>
  <!-- <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div> -->
</div>
</div>
<% } else { %>
    <p class="text-center">No Data found.</p>
<% } %>
