<ol class="breadcrumb">
<% breadcrumbs.forEach((crumb, index) => { %>
  <% if(!crumb.isActive) { %>
    <li class="breadcrumb-item"><a href="<%= crumb.link %>"><%= crumb.label %></a></li>
  <% } else {%>
    <li class="breadcrumb-item active"><%= crumb.label %></li>
  <% } %>
<% }) %>
</ol>
