<!-- Logout Modal-->
<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="row justify-content-center w-100"> <!-- Vertically Align Modal -->
        <div class="modal-dialog align-self-center">
        <!-- <img class="mb-3 img-fluid" src="/assets/img/logos/corp/tmIcon.svg" alt="" width="300"  /> -->
          <h5 class="modal-title d-flex justify-content-center" id="confirmModalLabel">Are you sure you wish to delete</h5>
        </div>
        <div class="modal-body edit-content">
        </div>

      </div>
      <div class="modal-footer align-self-center">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
        <a class="btn btn-warning" href="/api/user/logout">Delete</a>
      </div>
    </div>
  </div>
</div>
