<!-- Logout Modal-->
<div class="modal fade" id="profiletModal" tabindex="-1" role="dialog" aria-labelledby="profileModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="row justify-content-center w-100"> <!-- Vertically Align Modal -->
          <div class="modal-dialog align-self-center">

            <img class="mb-3 img-fluid" src="/assets/img/logos/corp/tmIcon.svg" alt="" width="300"  />
            <div class="clearfix"></div>
            <h5 class="modal-title d-flex justify-content-center" id="profileModalLabel">Ready to Leave ?</h5>
          </div>
        </div>

        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-footer align-self-center">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
        <a class="btn btn-warning" href="/api/user/logout">Logout</a>
      </div>
    </div>
  </div>
</div>
