
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">TechNet</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#tecnetNav" aria-controls="tecnetNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="tecnetNav">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item active">
          <a class="nav-link dropdown-toggle" href="#" id="canaryDrop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Canaries <span class="sr-only">(current)</span></a>
          <div class="dropdown-menu" aria-labelledby="canaryDrop">
            <a class="dropdown-item" href="/api/canarys/add" title="Add a New Canary">Add a Canary</a>
          </div>
        </li>
        <ul class="nav navbar-nav mr-auto">

        <li class="nav-item">
          <a class="nav-link" href="#">CUBs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">CUBs</a>
        </li>
      </ul>
      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Profile</a>
        </li>
        <li class="nav-item float-right">
          <a class="nav-link" href="/logout">Logout444</a>
        </li>
</ul>
      </ul>
    </div>
  </div>
</nav>
