<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="UTF-8">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <meta name="keywords" content=<%= pgKeywords %> />
    <meta name="description" content=<%= pgDesc %> />
    <meta name="author" content="techmist.com" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  	<title><%= pgTitle %></title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico" />
    <!-- iPad and iPad mini @1x -->
    <link rel="apple-touch-icon" sizes="76x76" href="touch-icon-ipad.png">
    <!-- iPhone 4, iPhone 4s, iPhone 5, iPhone 5c, iPhone 5s, iPhone 6, iPhone 6s -->
    <link rel="apple-touch-icon" sizes="120x120" href="touch-icon-iphone-retina.png">
    <!-- iPad and iPad mini @2x -->
    <link rel="apple-touch-icon" sizes="152x152" href="touch-icon-ipad-retina.png">
    <!-- iPad Pro -->
    <link rel="apple-touch-icon" sizes="167x167" href="touch-icon-ipad-pro.png">
    <!-- iPhone 6 Plus and iPhone 6s Plus -->
    <link rel="apple-touch-icon" sizes="180x180" href="touch-icon-iphone-6-plus.png">
    <!-- Android Devices High Resolution -->
    <link rel="icon" sizes="192x192" href="icon-hd.png">
    <!-- Android Devices Normal Resolution -->
    <link rel="icon" sizes="128x128" href="icon.png">

    <!-- Font -->
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Arimo:300,400,700,400italic,700italic' />
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css' />

    <!-- Font Awesome Icons -->
    <!-- <link href='assets/css/font-awesome.min.css' rel='stylesheet' type='text/css' /> -->
    <!-- Bootstrap core CSS -->
    <!-- <link href="assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="assets/css/hover-dropdown-menu.css" rel="stylesheet" /> -->
    <!-- Icomoon Icons -->
    <!-- <link href="assets/css/icons.css" rel="stylesheet" /> -->
    <!-- Revolution Slider -->
    <!-- <link href="assets/css/revolution-slider.css" rel="stylesheet" />
    <link href="assets/rs-plugin/assets/css/settings.css" rel="stylesheet" /> -->
    <!-- Animations -->
    <!-- <link href="assets/css/animate.min.css" rel="stylesheet" /> -->
    <!-- Owl Carousel Slider -->
    <!-- <link href="assets/css/owl/owl.carousel.css" rel="stylesheet" />
    <link href="assets/css/owl/owl.theme.css" rel="stylesheet" />
    <link href="assets/css/owl/owl.transitions.css" rel="stylesheet" /> -->
    <!-- PrettyPhoto Popup -->
    <!-- <link href="assets/css/prettyPhoto.css" rel="stylesheet" /> -->
    <!-- Custom Style -->
    <!-- <link href="assets/css/style.css" rel="stylesheet" />
		<link href="assets/css/responsive.css" rel="stylesheet"> -->
    <!-- Color Scheme -->
    <!-- <link href="assets/css/color.css" rel="stylesheet" /> -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet" />
  </head>
  <body>
    <div id="page">
      <!-- Page Loader -->
		<div id="pageloader">
			<div class="loader-item fa fa-spin text-color"></div>
		</div>
          <!-- Top Bar -->
          <div class="container-fluid">
