<footer id="footer">
<section class="page-section">
    <div class="image-bg content-in fixed" data-background="assets/img/sections/bg/bg-13.jpg"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="text-color">Contact Us Today</h2>
                <h3 class="white">+0 (123) 456 7890</h3>
                <h3>
                    <a href="mailto:info@techmist.com" class="text-color">info@techmist.com</a>
                </h3>
                <div class="icon-5 white hover-color icons-circle">
                <a href="#">
                    <span class="pe-so-facebook border-white"></span>
                </a> 
                <a href="#">
                    <span class="pe-so-twitter border-white"></span>
                </a> 
                <a href="#">
                    <span class="pe-so-google-plus border-white"></span>
                </a> 
                <a href="#">
                    <span class="pe-so-linkedin border-white"></span>
                </a></div>
            </div>
        </div>
    </div>
</section>
<!-- footer-top -->
<div class="copyright">
    <div class="container">
        <div class="row">
            <!-- Copyrights -->
            <div class="col-xs-10 col-sm-6 col-md-6"> &copy; 2014 <a href="/">techmist.com</a>. TechMist.
            <br />
            <!-- Terms Link -->
             
            <a href="/termsOfUse">Terms of Use</a> / 
            <a href="/privacyPolicy">Privacy Policy_</a></div>
            <div class="col-xs-2  col-sm-6 col-md-6 text-right page-scroll gray-bg icons-circle i-3x">
                <!-- Goto Top -->
                <a href="#page">
                    <i class="glyphicon glyphicon-arrow-up"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- footer-bottom -->
</footer>
<!-- footer -->
