<!-- <footer id="footer">
<div class="copyright">
    <div class="container">
        <div class="row">
            <!-- Copyrights -->
            <!-- <div class="col-xs-10 col-sm-6 col-md-6"> &copy; 2014 <a href="/">techmist.com</a>. TechMist.
            <br /> -->
            <!-- Terms Link -->
            <!-- 
            <a href="/disclaimer">Disclaimer</a> /  
            <a href="/termsOfUse">Terms of Use</a> / 
            <a href="/privacyPolicy">Privacy Policy</a></div>
            <div class="col-xs-2  col-sm-6 col-md-6 text-right page-scroll gray-bg icons-circle i-3x"> -->
                <!-- Goto Top -->
                <!-- <a href="#page">
                    <i class="glyphicon glyphicon-arrow-up"></i>
                </a>
            </div>
        </div>
    </div>
</div> -->
<!-- footer-bottom -->
<!-- </footer> -->
<!-- footer --> 
<footer id="footer" class="navbar-fixed-bottom">
            <!-- footer-top -->
            <div class="copyright">
                <div class="container">
                    <div class="row">
                        <!-- Copyrights -->
                        <div class="col-xs-10 col-sm-6 col-md-6"> &copy; 2014 <a href="/">techmist.com</a>. TechMist.
                        <br />
                        <!-- Terms Link -->
                         
                        <a href="/disclaimer">Disclaimer</a> /  
                        <a href="/termsOfUse">Terms of Use</a> / 
                        <a href="/privacyPolicy">Privacy Policy</a></div>
                        <div class="col-xs-2  col-sm-6 col-md-6 text-right page-scroll gray-bg icons-circle i-3x">
                            <!-- Goto Top -->
                            <a href="#page">
                                <i class="glyphicon glyphicon-arrow-up"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- footer-bottom -->
        </footer>
        <!-- footer -->