<!-- Sticky Navbar -->
<header id="sticker" class="sticky-navigation">
<!-- Sticky Menu -->
<div class="sticky-menu relative">
 <!-- navbar -->
 <div class="navbar navbar-default navbar-bg-light" role="navigation">
   <div class="container">
     <div class="row">
       <div class="col-md-12">
         <div class="navbar-header">
         <!-- Button For Responsive toggle -->
         <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
         <span class="sr-only">Toggle navigation</span> 
         <span class="icon-bar"></span> 
         <span class="icon-bar"></span> 
         <span class="icon-bar"></span></button> 
         <!-- Logo -->
          
         <a class="navbar-brand" href="/">
           <img class="site_logo" alt="Site Logo" src="assets/img/logos/corp/tmLogo.svg" />
         </a></div>
         <!-- Navbar Collapse -->
         <div class="navbar-collapse collapse">
           <!-- nav -->
           <ul class="nav navbar-nav main-nav">
             <!-- Company Menu -->
             <li>
             <a href="#">Company</a> 
             <!-- Company Dropdown Menu -->
             <ul class="dropdown-menu">
               <li><a href="/about">About</a></li>
               <li><a href="/history">History</a></li>
               <li><a href="/team">Team</a></li>
               <li><a href="/partners">Partners</a></li>
               <li><a href="/careers">Careers</a></li>
             </ul>
             </li>
             <!-- Products Menu -->
             <li>
             <a href="#">Products</a> 
             <!-- Products Dropdown Menu -->
             <ul class="dropdown-menu">
               <li><a href="/stream">STREAM&trade;</a></li>
               <li><a href="/flux">FLUX&trade;</a></li>
               <li><a href="/sparc">SPARC&trade;</a></li>
               <li><a href="/arc">ARC&trade;</a></li>
               <li><a href="/ardvarc">SPARC&trade;</a></li>
               <li><a href="/sharc">SPARC&trade;</a></li>
               <!-- <li role="separator" class="divider"></li> -->
             </ul>
             </li>
             <!-- Products Dropdown Menu -->
             <li>
             <a href="#">Technologies</a> 
             <!-- Products Dropdown Menu -->
             <ul class="dropdown-menu">
               <li><a href="/stream">C&Uuml;B &trade;</a></li>
               <li><a href="/flux">Canary &trade;</a></li>
               <li><a href="/sparc">SnapTrap &trade;</a></li>
             </ul>
             </li>

            
             <li>
               <a href="/faq">FAQS</a>
             </li>
             <!-- Contact Block -->
             <li>
               <a href="/contact">Contact</a>
             </li>
             <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal3">
               Sign Up | Login  
             </button>
             <!-- Ends Widgets Block -->
             <!-- Pages Mega Menu -->
             
             <!-- Header Search -->
             <li class="hidden-767">
               <a href="#" class="header-search">
                 <span>
                   <i class="fa fa-search"></i>
                 </span>
               </a>
             </li>
           </ul>
           <!-- Right nav -->
           <!-- Header Contact Content -->
           <div class="bg-white hide-show-content no-display header-contact-content">
             <p class="vertically-absolute-middle">Call Us 
             <strong>+0 (123) 456 78 90</strong></p>
             <button class="close">
               <i class="fa fa-times"></i>
             </button>
           </div>
           <!-- Header Contact Content -->
           <!-- Header Search Content -->
           <div class="bg-white hide-show-content no-display header-search-content">
             <form role="search" class="navbar-form vertically-absolute-middle">
               <div class="form-group">
                 <input type="text" placeholder="Enter your text &amp; Search Here" class="form-control" id="s" name="s" value="" />
               </div>
             </form>
             <button class="close">
               <i class="fa fa-times"></i>
             </button>
           </div>
           <!-- Header Search Content -->
           <!-- Header Share Content -->
           <div class="bg-white hide-show-content no-display header-share-content">
             <div class="vertically-absolute-middle social-icon gray-bg icons-circle i-3x">
             <a href="#">
               <i class="fa fa-facebook"></i>
             </a> 
             <a href="#">
               <i class="fa fa-twitter"></i>
             </a> 
             <a href="#">
               <i class="fa fa-pinterest"></i>
             </a> 
             <a href="#">
               <i class="fa fa-google"></i>
             </a> 
             <a href="#">
               <i class="fa fa-linkedin"></i>
             </a></div>
             <button class="close">
               <i class="fa fa-times"></i>
             </button>
           </div>
           <!-- Header Share Content -->
         </div>
         <!-- /.navbar-collapse -->
       </div>
       <!-- /.col-md-12 -->
     </div>
     <!-- /.row -->
   </div>
   <!-- /.container -->
 </div>
 <!-- navbar -->
</div>
<!-- Sticky Menu -->
</header>
<!-- Sticky Navbar -->