<section class="slider">
    <div class="tp-banner">
        <ul>
            <li data-delay="7000" data-transition="fade" data-slotamount="7" data-masterspeed="2000">
                <div class="elements">
                    <div class="tp-caption tp-resizeme lfb" data-x="0" data-y="65" data-speed="1000" data-start="2040" data-easing="Power4.easeOut" data-endspeed="500" data-endeasing="Power1.easeIn" style="z-index: 4">
                        <img src="assets/img/sections/slider/rs-slider1-img2.png" width="500" height="600" alt="" />
                    </div>
                    <h2 class="tp-caption tp-resizeme lft skewtotop title bold" data-x="502" data-y="161" data-speed="1000" data-start="1700" data-easing="Power4.easeOut" data-endspeed="500" data-endeasing="Power1.easeIn">
                        <strong>Welcome To Mist
                        <br />Multi-purpose Theme</strong>
                    </h2>
                    <h2 class="tp-caption tp-resizeme lft skewtotop title" data-x="502" data-y="321" data-speed="1000" data-start="1700" data-easing="Power4.easeOut" data-endspeed="500" data-endeasing="Power1.easeIn">
                        <strong>Mobile Responsive</strong>
                    </h2>
                    <div class="tp-caption tp-resizeme lfr skewtoright description black" data-x="502" data-y="385" data-speed="1000" data-start="1500" data-easing="Power4.easeOut" data-endspeed="500" data-endeasing="Power1.easeIn" style="max-width: 600px">
                        <p>Proin a velit aliquam vitae malesuada rutrum. Aenean ullamcorper placerat porttitor velit aliquam vitae. Aliquam a augue suscipit, bibendum luctus neque laoreet rhoncus ipsum, ullamcorper</p>
                    </div>
                    <a href="#" class="tp-caption tp-resizeme lfb btn btn-default" data-x="502" data-y="472" data-speed="1000" data-start="1700" data-easing="Power4.easeOut" data-endspeed="500" data-endeasing="Power1.easeIn">Read more</a>
                </div>
                <img src="assets/img/sections/slider/rs-slider4-bg.jpg" alt="" data-bgfit="cover" data-bgposition="center top" data-bgrepeat="no-repeat" />
            </li>
            <!-- Slide -->
            <li data-delay="7000" data-transition="fade" data-slotamount="7" data-masterspeed="2000">
                <div class="elements">
                    <h2 class="tp-caption tp-resizeme sft skewtotop title bold" data-x="240" data-y="151" data-speed="1000" data-start="500" data-easing="Power4.easeOut" data-endspeed="400" data-endeasing="Power1.easeIn">Used Latest frameworks</h2>
                    <div class="tp-caption tp-resizeme lfr skewtoright description text-center" data-x="290" data-y="250" data-speed="1000" data-start="800" data-easing="Power4.easeOut" data-endspeed="500" data-endeasing="Power1.easeIn" style="max-width: 600px">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do usmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam dolore magna aliqua ut enim ad minim veniam.</p>
                    </div>
                    <h4 class="tp-caption tp-resizeme customin customout" data-x="350" data-y="360" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="1200" data-start="1000" data-easing="Power3.easeInOut" data-endspeed="300" style="z-index: 5">HTML 5</h4>
                    <div class="tp-caption tp-resizeme customin customout" data-x="337" data-y="418" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="1200" data-start="1000" data-easing="Power3.easeInOut" data-endspeed="300" style="z-index: 5">
                        <img src="assets/img/sections/slider/rs-slider1-html5.png" width="99" height="111" alt="" />
                    </div>
                    <h4 class="tp-caption tp-resizeme customin customout" data-x="560" data-y="360" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="1200" data-start="1200" data-easing="Power3.easeInOut" data-endspeed="300" style="z-index: 5">CSS 3</h4>
                    <div class="tp-caption tp-resizeme customin customout" data-x="537" data-y="418" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="1200" data-start="1200" data-easing="Power3.easeInOut" data-endspeed="300" style="z-index: 5">
                        <img src="assets/img/sections/slider/rs-slider1-css3.png" width="99" height="111" alt="" />
                    </div>
                    <h4 class="tp-caption tp-resizeme customin customout" data-x="725" data-y="360" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="1200" data-start="1500" data-easing="Power3.easeInOut" data-endspeed="300" style="z-index: 5">Bootstrap 3.x</h4>
                    <div class="tp-caption tp-resizeme customin customout" data-x="737" data-y="418" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="1200" data-start="1500" data-easing="Power3.easeInOut" data-endspeed="300" style="z-index: 5">
                        <img src="assets/img/sections/slider/rs-slider1-bootstrap.png" width="99" height="111" alt="" />
                    </div>
                </div>
                <img src="assets/img/sections/slider/rs-slider1-bg.jpg" alt="" data-bgfit="cover" data-bgposition="center top" data-bgrepeat="no-repeat" />
            </li>
            <!-- Slide -->
            <li data-delay="10300" data-transition="fade" data-slotamount="7" data-masterspeed="2000" class="slid2">
                <div class="elements">
                    <h2 class="tp-caption tp-resizeme sft skewtotop title bold" data-x="15" data-y="191" data-speed="1000" data-start="1100" data-easing="Power4.easeOut" data-endspeed="400" data-endeasing="Power1.easeIn">Different Variations</h2>
                    <div class="tp-caption tp-resizeme lfl skewtoleft description col-xs-5" data-x="0" data-y="285" data-speed="1000" data-start="1000" data-easing="Power4.easeOut" data-endspeed="400" data-endeasing="Power1.easeIn" style="max-width: 520px;">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do usmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam dolore magna aliqua ut enim ad minim veniam.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit ad minim veniam sed do usmod tempor incididunt ut labore et dolore.</p>
                    </div>
                    <a href="#" class="btn btn-default tp-caption tp-resizeme customin" data-x="15" data-y="442" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="1200" data-start="1000" data-easing="Power3.easeInOut" data-endspeed="300" style="z-index: 5">Read more</a>
                    <div class="tp-caption tp-resizeme lfb skewtobottom customin" data-x="730" data-hoffset="150" data-y="170" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="1000" data-start="1000" data-easing="Power4.easeOut" data-end="14000" data-endspeed="500" data-endeasing="Power1.easeIn" style="z-index: 3">
                        <img src="assets/img/sections/slider/rs-slider2-img.png" width="500" height="315" alt="" />
                    </div>
                    <div class="tp-caption tp-resizeme customout" data-x="795" data-hoffset="-208" data-y="205" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:1;transformPerspective:600;transformOrigin:50% 50%;" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="1" data-start="1000" data-easing="Power0.easeOut" data-end="3800" data-endspeed="1" data-endeasing="Power0.easeIn" data-captionhidden="on" style="z-index: 4">
                        <img src="assets/img/sections/slider/rs-slider2-one.png" width="372" height="232" alt="" />
                    </div>
                    <div class="tp-caption tp-resizeme customin customout" data-x="795" data-hoffset="-208" data-y="205" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:1;transformPerspective:600;transformOrigin:50% 50%;" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="1" data-start="3800" data-easing="Power0.easeOut" data-end="5300" data-endspeed="1" data-endeasing="Power0.easeIn" data-captionhidden="on" style="z-index: 4">
                        <img src="assets/img/sections/slider/rs-slider2-two.png" width="372" height="232" alt="" />
                    </div>
                    <div class="tp-caption tp-resizeme customin customout" data-x="795" data-hoffset="-208" data-y="205" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:1;transformPerspective:600;transformOrigin:50% 50%;" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="1" data-start="5300" data-easing="Power0.easeOut" data-end="6800" data-endspeed="1" data-endeasing="Power0.easeIn" data-captionhidden="on" style="z-index: 4">
                        <img src="assets/img/sections/slider/rs-slider2-three.png" width="372" height="232" alt="" />
                    </div>
                    <div class="tp-caption tp-resizeme customin customout" data-x="795" data-hoffset="-208" data-y="205" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:1;transformPerspective:600;transformOrigin:50% 50%;" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="1" data-start="6800" data-easing="Power0.easeOut" data-end="14000" data-endspeed="1" data-endeasing="Power0.easeIn" data-captionhidden="on" style="z-index: 4">
                        <img src="assets/img/sections/slider/rs-slider2-four.png" width="372" height="232" alt="" />
                    </div>
                </div>
                <img src="assets/img/sections/slider/rs-slider2-bg.jpg" alt="" data-bgfit="cover" data-bgposition="center top" data-bgrepeat="no-repeat" />
            </li>
            <!-- Slide -->
        </ul>
        <div class="tp-bannertimer"></div>
    </div>
</section>
<!-- slider -->