<% include ../partials/templates/dasbboard/pg_head.ejs %>
<% include ../partials/templates/dasbboard/header_nav.ejs %>
    <div id="wrapper">
      <!-- Sidebar -->
      <% include ../partials/templates/dasbboard/side_bar.ejs %>
      <div id="content-wrapper">
        <div class="container-fluid">
          <!-- Breadcrumbs-->
          <% include ../partials/templates/dasbboard/breadcrumbs.ejs %>
          <!-- top Cards-->
          <% include ../partials/content/dashboard/gateway_form.ejs %>

          <div class="dropdown-divider mt-3"></div>
          <!-- top Cards-->
          <% include ../partials/content/dashboard/gateway_cards.ejs %>
        </div>
        <!-- /.container-fluid -->
        <!-- Sticky Footer -->
        <% include ../partials/templates/dasbboard/sticky_footer.ejs %>
      </div>
      <!-- /.content-wrapper -->
    </div>
    <!-- /#wrapper -->
    <% include ../partials/templates/dasbboard/pg_top_modal.ejs %>
    <% include ../partials/templates/dasbboard/logout_modal.ejs %>
    <% include ../partials/templates/dasbboard/pg_close.ejs %>
